[defaults]
inventory = /inventory/hosts.ini
remote_user = ubuntu
; private_key_file = /home/frappe/.ssh/ansible.pem
host_key_checking = Fasle
timeout = 30
interpreter_python = /usr/bin/python3
allow_world_readable_tmpfiles = True


; export NVM_DIR="$HOME/.nvm"
; [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
; alias ll='ls -alF'
; alias ls='ls --color=auto'
; [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This load>
; # BEGIN ANSIBLE MANAGED NVM BLOCK
; export NVM_DIR="$HOME/.nvm"
; [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
; # END ANSIBLE MANAGED NVM BLOCK



